@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&display=swap');


h1, h2, h3, h4, h5, h6 {
  font-family: 'Koulen', cursive;
}

.checkbox-labels {
  font-family: 'Koulen', cursive;
}

.polishText {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}